.header {
  background-image: url('../img/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 20px;
  text-align: center;
  @include device(small) {
    background-attachment: unset;
  }
  &__title {
    @include type(62, 600);
    color: $white;
    line-height: 74.4px;
    max-width: 620px;
    margin: 70px 0 55px 0;
    @include device(small) {
      font-size: em(45);
    }
  }
  &__button {
    @include type(18, 600);
    color: $black;
    text-transform: uppercase;
    background: $white;
    padding: 13px 82px;
    margin-bottom: 20px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
    transition: .3s background, .3s color;
    &:hover {
      background: $black;
      color: $white;
    }
  }
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  &__header {
    margin-top: 40px; 
    margin-bottom: 20px;
    color: $black;
    text-transform: lowercase;
    padding: 0 30px
  }
  &__title {
    @include type(52, 600);
    line-height: 1;
    margin-bottom: 5px;
    @include device(small) {
      font-size: em(40)
    }
  }
  &__subtitle {
    @include type(18, 600);
    @include device(small) {
      font-size: em(16);
    }
  }

  &__articles {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-bottom: 100px;
    justify-content: center;
  }

  &__article {
    box-sizing: border-box;
    display: block;
    height: 370px;
    padding: 20px 30px;
    margin: 15px;
    background-size: cover;
    color: $white;
    flex-shrink: 1;
    flex-grow: 1;
    @include device(medium) {
      height: 300px;
    }
    &--nature {
      background-image: url('../img/nature.png');
      flex-basis: 370px;
    }
    &--daily {
      background-image: url('../img/daily.png');
      flex-grow: 2;
    }
    &--together {
      background-image: url('../img/together.png');
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-position: center center;
      @include device(medium) {
        display: block;
      }
    }
    &--analysis {
      background-image: url('../img/analysis.png');
      text-align: right;
      flex-grow: 2;
      background-position: center center;
      @include device(medium) {
        text-align: left;
      }
    }
    &--pictures {
      background-image: url('../../img/pictures.png');
      flex-basis: 370px;
    }
  }
  &__heading {
    text-transform: lowercase;
    @include type(52, 600);
    margin-bottom: 8px;
    @include device(small) {
      font-size: em(40);
    }
  }
  &__subheading {
    @include type(20, 600);
    @include device(small) {
      font-size: em(16);
    }
  }

  &--plans {
    background-color: $light-gray;
    padding: 20px calc((100% - 1200px) / 2) 100px;
  }
  &__plans {
    display: flex;
    padding: 0 15px;
    align-items: flex-end;
    @include device(1000px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  $margin-top: 0;
  @for $i from 1 through 6 {
    $margin-top: $margin-top + 40px;
    .plan:nth-child(#{$i}) {
      .plan__text {
        margin-top: $margin-top;
        @include device(1000px) {
          margin-top: 0;
        }
      }
      @include device(small) {
        order: -$i;
      }
    }
  }
  .plan {
    color: $white;
    margin: 15px;
    @include device(1000px) {
      flex: 1 1 220px;
    }
    &__header {
      background-color:$dark-blue;
      padding: 15px 20px;
    }
    &__heading {
      @include type(34, 600);
      line-height: 40.8px;
    }
    &__subheading {
      @include type(20, 600);
      line-height: 24px;
    }
    &__bottom {
      background-color: $blue;
      padding: 15px 20px;
    }
    &__text {
      @include type(12, 400);
      line-height: 14.4px;
    }
  }


}